name: Go Example Workflow

on:
  push:
    branches:
      - main

jobs:
  build-go:
    runs-on: ubuntu-latest
    env:
      FILE_NAME: hello-server

    steps:
      # Step para realizar o checkout do repositório
      - name: Check out the repo
        uses: actions/checkout@v2

      # Step para configurar o ambiente Go
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: '1.20'  # Altere para a versão do Go que você está usando

      # Step para instalar dependências
      - name: Install dependencies
        run: go mod tidy

      # Step para build do artefato Go para Linux
      - name: Build for Linux
        run: go build -o hello-server.out hello-server.go

      # Step para rodar testes
      - name: Run tests
        run: go test ./...

      # Step para upload do artefato gerado para Linux
      - name: Upload artifact for linux
        uses: actions/upload-artifact@v3
        with:
          name: linux-hello-server
          path: ./hello-server.out

      # Step para build do artefato Go para Windows
      - name: Build for Windows
        run: |
          GOOS=windows GOARCH=amd64 go build -o hello-server.exe hello-server.go

      # Step para upload do artefato gerado para Windows
      - name: Upload artifact for windows
        uses: actions/upload-artifact@v3
        with:
          name: windows-hello-server
          path: ./hello-server.exe

  download-and-run-linux:
    runs-on: ubuntu-latest
    needs: build-go  # Define a dependência do job build-go

    steps:
      # Step para realizar o checkout do repositório
      - name: Check out the repo
        uses: actions/checkout@v2

      # Step para baixar o artefato Linux
      - name: Download Linux artifact
        uses: actions/download-artifact@v3
        with:
          name: linux-hello-server

      # Step para tornar o artefato executável e executar o script run.sh
      - name: Make artifact executable and run script
        run: |
          chmod +x ./hello-server.out
          ./hello-server.out &  # Executa o servidor em background
          sleep 5  # Aguarda o servidor iniciar
          source ./run.sh  # Executa o script run.sh

  download-only-windows:
    runs-on: windows-latest
    needs: build-go  # Define a dependência do job build-go

    steps:
      # Step para realizar o checkout do repositório
      - name: Check out the repo
        uses: actions/checkout@v2

      # Step para baixar o artefato Windows
      - name: Download Windows artifact
        uses: actions/download-artifact@v3
        with:
          name: windows-hello-server
