name: Go Example Workflow

on:
  push:
    branches:
      - main
  schedule:
    - cron: '*/15 * * * 1-6'

jobs:
  build-go:
    runs-on: ubuntu-latest
    env:
      FILE_NAME: hello-server

    steps:
      - name: Check out the repo
        uses: actions/checkout@v3

      - name: Initialize Go module
        run: go mod init aula-05-artifact  # Inicia o módulo Go

      - name: Verify hello-server.go for corruption
        run: |
          file hello-server.go  # Checa se o arquivo tem caracteres inválidos
          cat hello-server.go

      - name: Build for Linux
        run: go build -o ${{ env.FILE_NAME }}.go

      - name: List files after build (Linux)
        run: ls -l

      - name: Upload artifact for linux
        uses: actions/upload-artifact@v4
        with:
          name: linux-hello-server
          path: ./hello-server

      - name: Build for Windows
        run: |
          GOOS=windows GOARCH=amd64 go build -o hello-server.exe ${{ env.FILE_NAME }}.go

      - name: List files after build (Windows)
        run: ls -l

      - name: Upload artifact for windows
        uses: actions/upload-artifact@v4
        with:
          name: windows-hello-server
          path: ./hello-server.exe

  download-and-run-linux:
    name: Download and Run Linux
    runs-on: ubuntu-latest
    needs: build-go

    steps:
      - name: Check out the repo
        uses: actions/checkout@v3

      - name: Download Linux Artifact
        uses: actions/download-artifact@v3
        with:
          name: linux-hello-server

      - name: Make run.sh executable
        run: chmod +x ./run.sh

      - name: Run script on Linux
        run: ./run.sh

  download-only-windows:
    name: Download Windows
    runs-on: windows-latest
    needs: build-go

    steps:
      - name: Check out the repo
        uses: actions/checkout@v3

      - name: Download Windows Artifact
        uses: actions/download-artifact@v3
        with:
          name: windows-hello-server
